# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.isogram.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pali\Exercism\csharp\isogram\.idea\.idea.isogram.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
