# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.robot-name.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pali\Exercism\csharp\robot-name\.idea\.idea.robot-name.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
